<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv="content-type" />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to our awesome site.
      Your username is <%= @user.login %>.<br>
    </p>
    <p>
      Dont worry Njerry werry these are my tests working
      like a shaaaaaaam!!
    </p>
    <p>
      To login to the site head to <%= @url %>.
      THanks you and have a great day.
  </body>
</html>
